body {
	background-color: #D8EEFE;
}

article {
    display: grid;
	gap: 40px;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	padding: 22px 43px;
    margin-bottom: 1rem;
	background-color: #ffffff;
	border-radius: 10px;
}

p {
	margin: 0;
}

article h3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	margin: 0;
}

.greyText {
	font-size: 24px;
	line-height: 27px;
	color: #5F6C7B;
}

.daysLeft {
	text-align: right;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

b {
	font-size: 24px;
	line-height: 27px;
	color: #EF4565;
}

header,
main {
	max-width: 780px;
	margin: auto;
}

body > header {
	color: #094067;
	margin-bottom: 1rem;
}

img {
    max-width: 90px;
}

button img {
    width: 30px;
    height: 30px;
}

button {
    border: none;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
	outline: none;
}

.add {
	border-radius: 10px;
	max-height: 50px;
	background-color: #EF4565;
	color: #ffffff;
	width: 158px;
	padding: 1rem;
	
}

input, select {
	padding: 1rem;
	max-width: 264px;
	border-radius: 10px;
	outline: none;
	border: none;
}

.popup {
	background: hsla(0, 0%, 30%, 0.5);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
}

.popup fieldset {
	background: var(--grey);
	padding: 2rem;
	border: 3px solid var(--pink);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
	--scale: 0.3;
	transform: scale(var(--scale));
}

.popup div {
	background-color: ghostwhite;
	border-radius: 5px;
	padding: 2rem;
}

.popup.open {
	--opacity: 1;
	pointer-events: all;
}

.popup.open fieldset {
	--scale: 1;
}

.popup button {
	background-color: #eebbc3;
	color: #232946;
}

.filter-form {
	display: flex;
	gap: 1rem;
	align-items: flex-end;
}

.filter-form fieldset {
	margin: 0;
	border: none;
	padding: 0;
}

.filter-form label {
	font-size: large;
}

.filter-form button {
	background-color: #eebbc3;
	color: #232946;
	font-size: 1rem;
	max-height: 50px;
	padding: 1rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

svg {
	width: 1.5rem;
	height: 1.5rem;
}

.inputs {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}